<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final - Logan</title>
</head>
<body>
    <br>
    What to Sort            <input type="text" name="sortText">
    <br>
    Ascending or Descending <input type="text" name="way">
    <br>
    <button type="button" id="SortButton">Sort</button>
    <script>
        var sortBtn = document.querySelector('#SortButton')
        sortBtn.addEventListener('click', makeCall)

        function makeCall(){
            var results = document.querySelector('textarea[name="results"]')
            var url = `http://localhost:3000/api/v1/${rescource}`

            document.querySelector('input[name="query"]').value = url

            var myHeaders = new Headers()
            myHeaders.set('Content-Type', 'application/json')

            var myInit = {
                method:verb,
                headers:myHeaders,
                mode:'cors',
                cache:'default'
            }

            //puts post in the request
            if(['POST','PUT'].indexOf(verb)>-1){

                myInit.body = JSON.stringify(data)
                console.log(myInit)
            }

            var myrequest = new Request(url, myInit)

            fetch(myrequest).then(function(response){
                console.log(response)
                var contentType = response.headers.get('content-type')

                if(contentType && contentType.includes('application/json')){
                    return response.text()
                }
                if(response.status === 204){
                    return 'Delete'
                }
                throw new TypeError("This is not JSON")
            }).then(function(jsonText){
                results.value = jsonText
            }).catch(function(err){
                console.log(err)
            })

        }
        </script>
</body>
</html>