<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Example</title>
    <style>
        textarea{
            width: 500px;
            height: 300px;
        }
    </style>
</head>
<body>
    <h1>Cooper - Final</h1>
    <button id="grab">Make Request</button>
    <hr>
    <h2>Output</h2>
    <textarea name="results" readonly></textarea>
    <br>
    What to Sort         <input type="text" name="sortText">
    <br>
    Ascending or Descending <input type="text" name="way">
    <br>
    <button type="button" id="SortButton">Sort</button>
    <script>
        var callBtn = document.querySelector('#grab')
        callBtn.addEventListener('click', makeCall)

        var sortBtn = document.querySelector('#SortButton')
        sortBtn.addEventListener('click', sortInfo)

        function sortInfo(){
            fetch('/sort').then(function(response){
                console.log(response)
                var contentType = response.headers.get('content-type')

                if(contentType && contentType.includes('application/json')){
                    return response.text()
                }
                if(response.status === 204){
                    return 'Delete'
                }
                throw new TypeError("This is not JSON")
            }).then(function(jsonText){
                results.value = jsonText
            }).catch(function(err){
                console.log(err)
            })
        }

        //normal call function
        function makeCall(){
            var results = document.querySelector('textarea[name="results"]')
            fetch('/unity').then(function(response){
                console.log(response)
                var contentType = response.headers.get('content-type')

                if(contentType && contentType.includes('application/json')){
                    return response.text()
                }
                if(response.status === 204){
                    return 'Delete'
                }
                throw new TypeError("This is not JSON")
            }).then(function(jsonText){
                results.value = jsonText
            }).catch(function(err){
                console.log(err)
            })
        }
    </script>
</body>
</html>